Q2. Your task is to create a KNN model and predict the potential risk of heart disease.

In [2]:
#importing the appropriate libraries.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, f1_score

In [15]:
# loading the dataset using pandas.

heartdata = pd.read_csv("data-heart.csv")

In [19]:
#printing the length of the dataset.

print("Length of the Dataset is:",len(heartdata))

Length of the Dataset is: 303

In [17]:
#printing the first 5 rows of the dataset.

heartdata.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [21]:
#Splitting the dataset for training and testing, 80% for training and 20% for testing.

#this is actually the first 13 columns from (0-12) as the last column is the output column
X = heartdata.iloc[:, 0:13]
#this is the output column.
Y = heartdata.iloc[:, 13]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state = 0, test_size = 0.2)

In [23]:
#Feature Scaling
#We will the scale the data so that it is all between 1 and 1

scaler_X = StandardScaler()

#Transforming the scaling set as well as the testing set.
#We only train the X (inputs) values, not the Y values.

#we fit the scaler with the training set.
X_train = scaler_X.fit_transform(X_train)
X_test = scaler_X.transform(X_test)

In [ ]:
#identifying the appropriate number of neighbours for the KNN algorithm.