In [1]:
# Lab-3 task, Using Lists, Tuples, Dictionaries and sets.

#List(Array)
#List syntax = list_name = [values]
List = [1,2,3,4,5,6,7,8,9,0] #Assigning the list values.
print(List) #Printing the list.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [2]:
print(List[4]) #Printing a certain index from the list.

5

In [3]:
List[0] = 10 #Changing the value stored at a certain index of the list.
print(List[0]) #Printing.

10

In [4]:
#Slicing syntax: List[start_index:end_index:step]
print(List [0:9:2]) #Slicing the list and Printing it.

[10, 3, 5, 7, 9]

In [5]:
#deleting an element and printing the list.
del List[2]
print(List)

[10, 2, 4, 5, 6, 7, 8, 9, 0]

In [6]:
#creating a new list and printing it
a = list(range(19))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [7]:
del a[10:15] #deleting an element from the new created list.
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 15, 16, 17, 18]

In [8]:
del a[-1], a[3] #deleting 2 other elements from the new list.
a

[0, 1, 2, 4, 5, 6, 7, 8, 9, 15, 16, 17]

In [9]:
colours = ['red', 'blue', 'green'] # using count method.
colours.count('blue') #prints the number od times the typed element appears in the list.

1

In [10]:
colours.index('green')#prints the number of the typed element.

2

In [11]:
colours.reverse() # prints the reverse order of the list.
colours

['green', 'blue', 'red']

In [12]:
colours.append('white') # adds the value to the list.
colours

['green', 'blue', 'red', 'white']

In [13]:
colours.sort() # sorts the list according to alphabetical order.
colours

['blue', 'green', 'red', 'white']

In [14]:
matrix = [[1,2,3], #creates a matrix
          [4,5,6], 
          [7,8,9]]

print(matrix[2][1])#prints a specific index

matrix[1][:] #prints a specific row

8

[4, 5, 6]

In [15]:
#tuple
# tuple syntax tuple_name = (values)
tup = ('right', 'left', 'math')

print(tup)

('right', 'left', 'math')

In [16]:
#Dictionary
# tel syntax tel_name = {values}

tel = {'ek': 1, 'do':2} # add element to the directory.
tel['ek']

1

In [17]:
tel #

{'ek': 1, 'do': 2}

In [18]:
del tel['ek'] #deleting a key:value
tel

{'do': 2}

In [19]:
list(tel) #prints keys

['do']

In [20]:
sorted(tel) # sort a dictionary

['do']

In [21]:
tel2 = dict(yogi = 4240, shyam = 2004, hard = 6969, jayrup = 4200) # Another way to make a dictionary
tel2

{'yogi': 4240, 'shyam': 2004, 'hard': 6969, 'jayrup': 4200}

In [22]:
tel2['jayrup'] # access to key 'jayrup

4200

In [23]:
tel2.get('shyam') # another way to access the key 'shyam'

2004

In [24]:
tel2.keys() # returns all the keys.

dict_keys(['yogi', 'shyam', 'hard', 'jayrup'])

In [25]:
tel2.values() # returns all the values.

dict_values([4240, 2004, 6969, 4200])

In [26]:
sorted(tel2, reverse=True) #Descending order.

['yogi', 'shyam', 'jayrup', 'hard']

In [27]:
sorted(tel2) #Ascending order.

['hard', 'jayrup', 'shyam', 'yogi']

In [28]:
'yogi' in tel2 # find a key in a dictionary.

True

In [29]:
'hard' not in tel2 # checks if a key is in a dictionary.

False

In [30]:
#Sets 

Rainbow = {'violet', 'indigo', 'blue', 'green', 'yellow', 'red', 'green', 'blue'} # assigning values
Rainbow

{'blue', 'green', 'indigo', 'red', 'violet', 'yellow'}

In [31]:
'blue' in Rainbow # finding a value in a set

True

In [32]:
'gold' in Rainbow # finding a value in set which hasnt been declared.

False